In [1]:
import numpy as np
import pandas as pd
import os
import xgboost as xgb
from sklearn.model_selection import KFold
from sklearn.metrics import log_loss
from scipy.interpolate import UnivariateSpline
import statsmodels.api as sm
import matplotlib.pyplot as plt
import collections

In [2]:
tourney_results = pd.read_csv('NCAATourneyDetailedResults.csv')
seeds = pd.read_csv('NCAATourneySeeds.csv')
regular_results = pd.read_csv('RegularSeasonDetailedResults.csv')

def prepare_data(df):
    dfswap = df[['Season', 'DayNum', 'LTeamID', 'LScore', 'WTeamID', 'WScore', 'WLoc', 'NumOT', 
    'LFGM', 'LFGA', 'LFGM3', 'LFGA3', 'LFTM', 'LFTA', 'LOR', 'LDR', 'LAst', 'LTO', 'LStl', 'LBlk', 'LPF', 
    'WFGM', 'WFGA', 'WFGM3', 'WFGA3', 'WFTM', 'WFTA', 'WOR', 'WDR', 'WAst', 'WTO', 'WStl', 'WBlk', 'WPF']]

    dfswap.loc[df['WLoc'] == 'H', 'WLoc'] = 'A'
    dfswap.loc[df['WLoc'] == 'A', 'WLoc'] = 'H'
    df.columns.values[6] = 'location'
    dfswap.columns.values[6] = 'location'    
      
    df.columns = [x.replace('W','T1_').replace('L','T2_') for x in list(df.columns)]
    dfswap.columns = [x.replace('L','T1_').replace('W','T2_') for x in list(dfswap.columns)]

    output = pd.concat([df, dfswap]).reset_index(drop=True)
    output.loc[output.location=='N','location'] = '0'
    output.loc[output.location=='H','location'] = '1'
    output.loc[output.location=='A','location'] = '-1'
    output.location = output.location.astype(int)
    
    output['PointDiff'] = output['T1_Score'] - output['T2_Score']
    
    return output

In [3]:
regular_data = prepare_data(regular_results)
tourney_data = prepare_data(tourney_results)

In [4]:
regular_data.shape

(164082, 35)

In [5]:
tourney_data.shape

(2096, 35)

In [6]:
boxscore_cols = [
        'T1_FGM', 'T1_FGA', 'T1_FGM3', 'T1_FGA3', 'T1_OR', 'T1_Ast', 'T1_TO', 'T1_Stl', 'T1_PF', 
        'T2_FGM', 'T2_FGA', 'T2_FGM3', 'T2_FGA3', 'T2_OR', 'T2_Ast', 'T2_TO', 'T2_Stl', 'T2_Blk',  
        'PointDiff']

funcs = [np.mean]

In [7]:
season_statistics = regular_data.groupby(["Season", 'T1_TeamID'])[boxscore_cols].agg(funcs)
season_statistics.head()

                     T1_FGM     T1_FGA   T1_FGM3    T1_FGA3      T1_OR  \
                       mean       mean      mean       mean       mean
Season T1_TeamID
2003   1102       19.142857  39.785714  7.821429  20.821429   4.178571
       1103       27.148148  55.851852  5.444444  16.074074   9.777778
       1104       24.035714  57.178571  6.357143  19.857143  13.571429
       1105       24.384615  61.615385  7.576923  20.769231  13.500000
       1106       23.428571  55.285714  6.107143  17.642857  12.285714

                     T1_Ast      T1_TO    T1_Stl      T1_PF     T2_FGM  \
                       mean       mean      mean       mean       mean
Season T1_TeamID
2003   1102       13.000000  11.428571  5.964286  18.750000  19.285714
       1103       15.222222  12.629630  7.259259  19.851852  27.777778
       1104       12.107143  13.285714  6.607143  18.035714  23.250000
       1105       14.538462  18.653846  9.307692  20.230769  27.000000
       1106       11.678571  17.035714  8.357143  18.178571  21.714286

                     T2_FGA   T2_FGM3    T2_FGA3      T2_OR     T2_Ast  \
                       mean      mean       mean       mean       mean
Season T1_TeamID
2003   1102       42.428571  4.750000  12.428571   9.607143   9.142857
       1103       57.000000  6.666667  18.370370  12.037037  15.481481
       1104       55.500000  6.357143  19.142857  10.892857  11.678571
       1105       58.961538  6.269231  17.538462  13.192308  15.807692
       1106       53.392857  4.785714  15.214286  11.321429  11.785714

                      T2_TO    T2_Stl    T2_Blk PointDiff
                       mean      mean      mean      mean
Season T1_TeamID
2003   1102       12.964286  5.428571  1.571429  0.250000
       1103       15.333333  6.407407  2.851852  0.629630
       1104       13.857143  5.535714  3.178571  4.285714
       1105       18.807692  9.384615  4.192308 -4.884615
       1106       15.071429  8.785714  3.178571 -0.142857

In [8]:
season_statistics = regular_data.groupby(["Season", 'T1_TeamID'])[boxscore_cols].agg(funcs).reset_index()
season_statistics.head()

,Season,T1_TeamID,T1_FGM,T1_FGA,T1_FGM3,T1_FGA3,T1_OR,T1_Ast,T1_TO,T1_Stl,...,T2_FGM,T2_FGA,T2_FGM3,T2_FGA3,T2_OR,T2_Ast,T2_TO,T2_Stl,T2_Blk,PointDiff
,,,mean,mean,mean,mean,mean,mean,mean,mean,...,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean
0,2003,1102,19.142857,39.785714,7.821429,20.821429,4.178571,13.000000,11.428571,5.964286,...,19.285714,42.428571,4.750000,12.428571,9.607143,9.142857,12.964286,5.428571,1.571429,0.250000
1,2003,1103,27.148148,55.851852,5.444444,16.074074,9.777778,15.222222,12.629630,7.259259,...,27.777778,57.000000,6.666667,18.370370,12.037037,15.481481,15.333333,6.407407,2.851852,0.629630
2,2003,1104,24.035714,57.178571,6.357143,19.857143,13.571429,12.107143,13.285714,6.607143,...,23.250000,55.500000,6.357143,19.142857,10.892857,11.678571,13.857143,5.535714,3.178571,4.285714
3,2003,1105,24.384615,61.615385,7.576923,20.769231,13.500000,14.538462,18.653846,9.307692,...,27.000000,58.961538,6.269231,17.538462,13.192308,15.807692,18.807692,9.384615,4.192308,-4.884615
4,2003,1106,23.428571,55.285714,6.107143,17.642857,12.285714,11.678571,17.035714,8.357143,...,21.714286,53.392857,4.785714,15.214286,11.321429,11.785714,15.071429,8.785714,3.178571,-0.142857

In [9]:
season_statistics.columns = [''.join(col).strip() for col in season_statistics.columns.values]
season_statistics.head()

,Season,T1_TeamID,T1_FGMmean,T1_FGAmean,T1_FGM3mean,T1_FGA3mean,T1_ORmean,T1_Astmean,T1_TOmean,T1_Stlmean,...,T2_FGMmean,T2_FGAmean,T2_FGM3mean,T2_FGA3mean,T2_ORmean,T2_Astmean,T2_TOmean,T2_Stlmean,T2_Blkmean,PointDiffmean
0,2003,1102,19.142857,39.785714,7.821429,20.821429,4.178571,13.000000,11.428571,5.964286,...,19.285714,42.428571,4.750000,12.428571,9.607143,9.142857,12.964286,5.428571,1.571429,0.250000
1,2003,1103,27.148148,55.851852,5.444444,16.074074,9.777778,15.222222,12.629630,7.259259,...,27.777778,57.000000,6.666667,18.370370,12.037037,15.481481,15.333333,6.407407,2.851852,0.629630
2,2003,1104,24.035714,57.178571,6.357143,19.857143,13.571429,12.107143,13.285714,6.607143,...,23.250000,55.500000,6.357143,19.142857,10.892857,11.678571,13.857143,5.535714,3.178571,4.285714
3,2003,1105,24.384615,61.615385,7.576923,20.769231,13.500000,14.538462,18.653846,9.307692,...,27.000000,58.961538,6.269231,17.538462,13.192308,15.807692,18.807692,9.384615,4.192308,-4.884615
4,2003,1106,23.428571,55.285714,6.107143,17.642857,12.285714,11.678571,17.035714,8.357143,...,21.714286,53.392857,4.785714,15.214286,11.321429,11.785714,15.071429,8.785714,3.178571,-0.142857

In [10]:
season_statistics_T1 = season_statistics.copy()
season_statistics_T2 = season_statistics.copy()

season_statistics_T1.columns = ["T1_" + x.replace("T1_","").replace("T2_","opponent_") for x in list(season_statistics_T1.columns)]
season_statistics_T2.columns = ["T2_" + x.replace("T1_","").replace("T2_","opponent_") for x in list(season_statistics_T2.columns)]
season_statistics_T1.columns.values[0] = "Season"
season_statistics_T2.columns.values[0] = "Season"

In [11]:
tourney_data = tourney_data[['Season', 'DayNum', 'T1_TeamID', 'T1_Score', 'T2_TeamID' ,'T2_Score']]
tourney_data.head()

   Season  DayNum  T1_TeamID  T1_Score  T2_TeamID  T2_Score
0    2003     134       1421        92       1411        84
1    2003     136       1112        80       1436        51
2    2003     136       1113        84       1272        71
3    2003     136       1141        79       1166        73
4    2003     136       1143        76       1301        74

In [12]:
tourney_data = pd.merge(tourney_data, season_statistics_T1, on = ['Season', 'T1_TeamID'], how = 'left')
tourney_data = pd.merge(tourney_data, season_statistics_T2, on = ['Season', 'T2_TeamID'], how = 'left')

In [13]:
tourney_data.head()

,Season,DayNum,T1_TeamID,T1_Score,T2_TeamID,T2_Score,T1_FGMmean,T1_FGAmean,T1_FGM3mean,T1_FGA3mean,...,T2_opponent_FGMmean,T2_opponent_FGAmean,T2_opponent_FGM3mean,T2_opponent_FGA3mean,T2_opponent_ORmean,T2_opponent_Astmean,T2_opponent_TOmean,T2_opponent_Stlmean,T2_opponent_Blkmean,T2_PointDiffmean
0,2003,134,1421,92,1411,84,24.379310,56.793103,6.482759,18.000000,...,25.666667,60.400000,7.533333,23.166667,11.933333,13.766667,14.333333,8.000000,2.600000,1.966667
1,2003,136,1112,80,1436,51,30.321429,65.714286,7.035714,20.071429,...,22.758621,55.068966,7.068966,21.448276,9.586207,13.275862,13.000000,7.103448,3.655172,4.655172
2,2003,136,1113,84,1272,71,27.206897,56.896552,4.000000,12.586207,...,23.275862,57.862069,5.896552,18.310345,12.344828,13.310345,15.068966,7.275862,3.172414,8.689655
3,2003,136,1141,79,1166,73,26.620690,52.689655,6.827586,17.931034,...,23.878788,55.333333,4.878788,14.303030,11.060606,12.363636,17.060606,6.333333,2.575758,14.909091
4,2003,136,1143,76,1301,74,27.344828,58.724138,6.413793,17.034483,...,23.433333,53.133333,5.733333,17.000000,10.533333,12.566667,14.633333,7.433333,2.833333,4.400000

In [16]:
tourney_data.shape

(2096, 44)

In [17]:
last14days_stats_T1 = regular_data.loc[regular_data.DayNum>118].reset_index(drop=True)
last14days_stats_T1['win'] = np.where(last14days_stats_T1['PointDiff']>0,1,0)
last14days_stats_T1 = last14days_stats_T1.groupby(['Season','T1_TeamID'])['win'].mean().reset_index(name='T1_win_ratio_14d')

last14days_stats_T2 = regular_data.loc[regular_data.DayNum>118].reset_index(drop=True)
last14days_stats_T2['win'] = np.where(last14days_stats_T2['PointDiff']<0,1,0)
last14days_stats_T2 = last14days_stats_T2.groupby(['Season','T2_TeamID'])['win'].mean().reset_index(name='T2_win_ratio_14d')

In [18]:
tourney_data = pd.merge(tourney_data, last14days_stats_T1, on = ['Season', 'T1_TeamID'], how = 'left')
tourney_data = pd.merge(tourney_data, last14days_stats_T2, on = ['Season', 'T2_TeamID'], how = 'left')

In [19]:
regular_season_effects = regular_data[['Season','T1_TeamID','T2_TeamID','PointDiff']].copy()
regular_season_effects['T1_TeamID'] = regular_season_effects['T1_TeamID'].astype(str)
regular_season_effects['T2_TeamID'] = regular_season_effects['T2_TeamID'].astype(str)
regular_season_effects['win'] = np.where(regular_season_effects['PointDiff']>0,1,0)
march_madness = pd.merge(seeds[['Season','TeamID']],seeds[['Season','TeamID']],on='Season')
march_madness.columns = ['Season', 'T1_TeamID', 'T2_TeamID']
march_madness.T1_TeamID = march_madness.T1_TeamID.astype(str)
march_madness.T2_TeamID = march_madness.T2_TeamID.astype(str)
regular_season_effects = pd.merge(regular_season_effects, march_madness, on = ['Season','T1_TeamID','T2_TeamID'])
regular_season_effects.shape

(9316, 5)

In [20]:
march_madness.head()

   Season T1_TeamID T2_TeamID
0    1985      1207      1207
1    1985      1207      1210
2    1985      1207      1228
3    1985      1207      1260
4    1985      1207      1374

In [27]:
regular_season_effects.head()

   Season T1_TeamID T2_TeamID  PointDiff  win
0    2003      1104      1328          6    1
1    2003      1272      1393          7    1
2    2003      1323      1237         44    1
3    2003      1242      1221         24    1
4    2003      1390      1462          1    1

In [22]:
def team_quality(season):
    formula = 'win~-1+T1_TeamID+T2_TeamID'
    glm = sm.GLM.from_formula(formula=formula, 
                              data=regular_season_effects.loc[regular_season_effects.Season==season,:], 
                              family=sm.families.Binomial()).fit()
    
    quality = pd.DataFrame(glm.params).reset_index()
    quality.columns = ['TeamID','quality']
    quality['Season'] = season
    quality['quality'] = np.exp(quality['quality'])
    quality = quality.loc[quality.TeamID.str.contains('T1_')].reset_index(drop=True)
    quality['TeamID'] = quality['TeamID'].apply(lambda x: x[10:14]).astype(int)
    return quality

In [30]:
glm_quality = pd.concat([team_quality(2003),
                         team_quality(2004),
                         team_quality(2005),
                         team_quality(2006),
                         team_quality(2007),
                         team_quality(2008),
                         team_quality(2009),
                         team_quality(2010),
                         team_quality(2011),
                         team_quality(2012),
                         team_quality(2013),
                         team_quality(2014),
                         team_quality(2015),
                         team_quality(2016),
                         team_quality(2017),
                         team_quality(2018)]).reset_index(drop=True)

C:\Users\lxb\Anaconda3\lib\site-packages\statsmodels\genmod\families\family.py:880: RuntimeWarning: invalid value encountered in true_divide
  n_endog_mu = self._clean((1. - endog) / (1. - mu))
C:\Users\lxb\Anaconda3\lib\site-packages\statsmodels\genmod\families\links.py:167: RuntimeWarning: overflow encountered in exp
  t = np.exp(-z)
C:\Users\lxb\Anaconda3\lib\site-packages\statsmodels\genmod\families\family.py:879: RuntimeWarning: invalid value encountered in true_divide
  endog_mu = self._clean(endog / mu)
C:\Users\lxb\Anaconda3\lib\site-packages\statsmodels\genmod\families\family.py:880: RuntimeWarning: divide by zero encountered in true_divide
  n_endog_mu = self._clean((1. - endog) / (1. - mu))
C:\Users\lxb\Anaconda3\lib\site-packages\statsmodels\genmod\families\family.py:879: RuntimeWarning: divide by zero encountered in true_divide
  endog_mu = self._clean(endog / mu)
C:\Users\lxb\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: RuntimeWarning: overflow encountered in exp
  # Remove the CWD from sys.path while we load stuff.

In [31]:
glm_quality_T1 = glm_quality.copy()
glm_quality_T2 = glm_quality.copy()
glm_quality_T1.columns = ['T1_TeamID','T1_quality','Season']
glm_quality_T2.columns = ['T2_TeamID','T2_quality','Season']

In [32]:
tourney_data = pd.merge(tourney_data, glm_quality_T1, on = ['Season', 'T1_TeamID'], how = 'left')
tourney_data = pd.merge(tourney_data, glm_quality_T2, on = ['Season', 'T2_TeamID'], how = 'left')

In [33]:
tourney_data.head()

,Season,DayNum,T1_TeamID,T1_Score,T2_TeamID,T2_Score,T1_FGMmean,T1_FGAmean,T1_FGM3mean,T1_FGA3mean,...,T2_opponent_ORmean,T2_opponent_Astmean,T2_opponent_TOmean,T2_opponent_Stlmean,T2_opponent_Blkmean,T2_PointDiffmean,T1_win_ratio_14d,T2_win_ratio_14d,T1_quality,T2_quality
0,2003,134,1421,92,1411,84,24.379310,56.793103,6.482759,18.000000,...,11.933333,13.766667,14.333333,8.000000,2.600000,1.966667,1.000000,0.833333,1.344291e-49,1.568229e-18
1,2003,136,1112,80,1436,51,30.321429,65.714286,7.035714,20.071429,...,9.586207,13.275862,13.000000,7.103448,3.655172,4.655172,0.666667,1.000000,4.934326e+00,1.656707e-18
2,2003,136,1113,84,1272,71,27.206897,56.896552,4.000000,12.586207,...,12.344828,13.310345,15.068966,7.275862,3.172414,8.689655,0.666667,0.750000,3.521347e-01,1.194127e+00
3,2003,136,1141,79,1166,73,26.620690,52.689655,6.827586,17.931034,...,11.060606,12.363636,17.060606,6.333333,2.575758,14.909091,1.000000,1.000000,NaN,2.604195e+00
4,2003,136,1143,76,1301,74,27.344828,58.724138,6.413793,17.034483,...,10.533333,12.566667,14.633333,7.433333,2.833333,4.400000,0.333333,0.600000,9.548861e-01,9.477385e-02

In [34]:
seeds['seed'] = seeds['Seed'].apply(lambda x: int(x[1:3]))
seeds.head()

   Season Seed  TeamID  seed
0    1985  W01    1207     1
1    1985  W02    1210     2
2    1985  W03    1228     3
3    1985  W04    1260     4
4    1985  W05    1374     5

In [35]:
seeds_T1 = seeds[['Season','TeamID','seed']].copy()
seeds_T2 = seeds[['Season','TeamID','seed']].copy()
seeds_T1.columns = ['Season','T1_TeamID','T1_seed']
seeds_T2.columns = ['Season','T2_TeamID','T2_seed']

In [36]:
tourney_data = pd.merge(tourney_data, seeds_T1, on = ['Season', 'T1_TeamID'], how = 'left')
tourney_data = pd.merge(tourney_data, seeds_T2, on = ['Season', 'T2_TeamID'], how = 'left')

In [37]:
tourney_data["Seed_diff"] = tourney_data["T1_seed"] - tourney_data["T2_seed"]

In [38]:
tourney_data.head()

,Season,DayNum,T1_TeamID,T1_Score,T2_TeamID,T2_Score,T1_FGMmean,T1_FGAmean,T1_FGM3mean,T1_FGA3mean,...,T2_opponent_Stlmean,T2_opponent_Blkmean,T2_PointDiffmean,T1_win_ratio_14d,T2_win_ratio_14d,T1_quality,T2_quality,T1_seed,T2_seed,Seed_diff
0,2003,134,1421,92,1411,84,24.379310,56.793103,6.482759,18.000000,...,8.000000,2.600000,1.966667,1.000000,0.833333,1.344291e-49,1.568229e-18,16,16,0
1,2003,136,1112,80,1436,51,30.321429,65.714286,7.035714,20.071429,...,7.103448,3.655172,4.655172,0.666667,1.000000,4.934326e+00,1.656707e-18,1,16,-15
2,2003,136,1113,84,1272,71,27.206897,56.896552,4.000000,12.586207,...,7.275862,3.172414,8.689655,0.666667,0.750000,3.521347e-01,1.194127e+00,10,7,3
3,2003,136,1141,79,1166,73,26.620690,52.689655,6.827586,17.931034,...,6.333333,2.575758,14.909091,1.000000,1.000000,NaN,2.604195e+00,11,6,5
4,2003,136,1143,76,1301,74,27.344828,58.724138,6.413793,17.034483,...,7.433333,2.833333,4.400000,0.333333,0.600000,9.548861e-01,9.477385e-02,8,9,-1

In [39]:
features = list(season_statistics_T1.columns[2:999]) + \
    list(season_statistics_T2.columns[2:999]) + \
    list(seeds_T1.columns[2:999]) + \
    list(seeds_T2.columns[2:999]) + \
    list(last14days_stats_T1.columns[2:999]) + \
    list(last14days_stats_T2.columns[2:999]) + \
    ["Seed_diff"] + ["T1_quality","T2_quality"]

len(features)

45

In [40]:
features

['T1_FGMmean',
 'T1_FGAmean',
 'T1_FGM3mean',
 'T1_FGA3mean',
 'T1_ORmean',
 'T1_Astmean',
 'T1_TOmean',
 'T1_Stlmean',
 'T1_PFmean',
 'T1_opponent_FGMmean',
 'T1_opponent_FGAmean',
 'T1_opponent_FGM3mean',
 'T1_opponent_FGA3mean',
 'T1_opponent_ORmean',
 'T1_opponent_Astmean',
 'T1_opponent_TOmean',
 'T1_opponent_Stlmean',
 'T1_opponent_Blkmean',
 'T1_PointDiffmean',
 'T2_FGMmean',
 'T2_FGAmean',
 'T2_FGM3mean',
 'T2_FGA3mean',
 'T2_ORmean',
 'T2_Astmean',
 'T2_TOmean',
 'T2_Stlmean',
 'T2_PFmean',
 'T2_opponent_FGMmean',
 'T2_opponent_FGAmean',
 'T2_opponent_FGM3mean',
 'T2_opponent_FGA3mean',
 'T2_opponent_ORmean',
 'T2_opponent_Astmean',
 'T2_opponent_TOmean',
 'T2_opponent_Stlmean',
 'T2_opponent_Blkmean',
 'T2_PointDiffmean',
 'T1_seed',
 'T2_seed',
 'T1_win_ratio_14d',
 'T2_win_ratio_14d',
 'Seed_diff',
 'T1_quality',
 'T2_quality']

In [ ]:
param = {} 
#param['objective'] = 'reg:linear'
param['eval_metric'] =  'mae'
param['booster'] = 'gbtree'
param['eta'] = 0.02 #change to ~0.02 for final run
param['subsample'] = 0.35
param['colsample_bytree'] = 0.7
param['num_parallel_tree'] = 10 #recommend 10
param['min_child_weight'] = 40
param['gamma'] = 10
param['max_depth'] =  3
param['silent'] = 1

In [70]:
params = {
    'eval_metric':'mae',
    'booster': 'gbtree',
    'eta':0.02,
    'objective':'binary:logistic', # 多分类的问题
    'num_parallel_tree':10,
   # 'num_class': 10,               # 类别数，与 multisoftmax 并用
    'gamma': 10,                  # 用于控制是否后剪枝的参数,越大越保守，一般0.1、0.2这样子。
    'max_depth': 3,               # 构建树的深度，越大越容易过拟合
   # 'lambda': 2,                   # 控制模型复杂度的权重值的L2正则化项参数，参数越大，模型越不容易过拟合。
    'subsample': 0.35,              # 随机采样训练样本
    'colsample_bytree': 0.7,       # 生成树时进行的列采样
    'min_child_weight': 40,
    'silent': 1                  # 设置成1则没有运行信息输出，最好是设置为0.
   # 'eta': 0.007,                  # 如同学习率
   # 'seed': 1000,
   # 'nthread': 4,                  # cpu 线程数
}

In [41]:
df_train = tourney_data.loc[tourney_data['Season'] < 2018]
df_test =tourney_data.loc[tourney_data['Season'] >= 2018]

In [42]:
y_train= df_train['T1_Score'] - df_train['T2_Score']
X_train = df_train[features].values

In [43]:
y_test = df_test['T1_Score'] - df_test['T2_Score']
X_test = df_test[features].values

In [47]:
import xgboost as xgb
dtrain=xgb.DMatrix(X_train,label=y_train)
dtest=xgb.DMatrix(X_test)

C:\Users\lxb\Anaconda3\lib\site-packages\xgboost\core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \

In [48]:
watchlist = [(dtrain,'train')]

In [51]:
bst=xgb.train(params,dtrain,num_boost_round=300,evals=watchlist)

[0]	train-mae:11.3368
[1]	train-mae:11.2585
[2]	train-mae:11.1822
[3]	train-mae:11.1058
[4]	train-mae:11.0312
[5]	train-mae:10.9611
[6]	train-mae:10.8895
[7]	train-mae:10.8212
[8]	train-mae:10.7549
[9]	train-mae:10.6909
[10]	train-mae:10.6295
[11]	train-mae:10.5675
[12]	train-mae:10.5103
[13]	train-mae:10.4551
[14]	train-mae:10.4009
[15]	train-mae:10.3475
[16]	train-mae:10.2943
[17]	train-mae:10.2432
[18]	train-mae:10.1926
[19]	train-mae:10.1436
[20]	train-mae:10.0951
[21]	train-mae:10.0479
[22]	train-mae:10.0036
[23]	train-mae:9.96011
[24]	train-mae:9.91947
[25]	train-mae:9.87771
[26]	train-mae:9.83853
[27]	train-mae:9.80012
[28]	train-mae:9.76223
[29]	train-mae:9.72527
[30]	train-mae:9.68975
[31]	train-mae:9.65447
[32]	train-mae:9.62106
[33]	train-mae:9.58777
[34]	train-mae:9.55497
[35]	train-mae:9.52539
[36]	train-mae:9.49495
[37]	train-mae:9.46654
[38]	train-mae:9.44101
[39]	train-mae:9.41311
[40]	train-mae:9.38453
[41]	train-mae:9.35813
[42]	train-mae:9.33307
[43]	train-mae:9.30912
[44]	train-mae:9.28551
[45]	train-mae:9.2626
[46]	train-mae:9.24043
[47]	train-mae:9.21911
[48]	train-mae:9.19871
[49]	train-mae:9.17728
[50]	train-mae:9.1585
[51]	train-mae:9.1391
[52]	train-mae:9.11981
[53]	train-mae:9.10291
[54]	train-mae:9.08498
[55]	train-mae:9.06826
[56]	train-mae:9.05062
[57]	train-mae:9.03377
[58]	train-mae:9.01765
[59]	train-mae:9.00103
[60]	train-mae:8.9849
[61]	train-mae:8.96941
[62]	train-mae:8.95384
[63]	train-mae:8.93926
[64]	train-mae:8.92466
[65]	train-mae:8.91112
[66]	train-mae:8.89778
[67]	train-mae:8.88527
[68]	train-mae:8.8726
[69]	train-mae:8.86041
[70]	train-mae:8.84817
[71]	train-mae:8.83674
[72]	train-mae:8.82565
[73]	train-mae:8.81478
[74]	train-mae:8.80366
[75]	train-mae:8.79256
[76]	train-mae:8.78194
[77]	train-mae:8.77142
[78]	train-mae:8.76145
[79]	train-mae:8.75199
[80]	train-mae:8.74119
[81]	train-mae:8.73264
[82]	train-mae:8.72362
[83]	train-mae:8.71378
[84]	train-mae:8.70464
[85]	train-mae:8.69688
[86]	train-mae:8.68861
[87]	train-mae:8.67971
[88]	train-mae:8.67119
[89]	train-mae:8.66348
[90]	train-mae:8.65602
[91]	train-mae:8.6492
[92]	train-mae:8.64128
[93]	train-mae:8.63329
[94]	train-mae:8.62734
[95]	train-mae:8.61962
[96]	train-mae:8.6129
[97]	train-mae:8.60624
[98]	train-mae:8.60058
[99]	train-mae:8.59458
[100]	train-mae:8.58825
[101]	train-mae:8.58174
[102]	train-mae:8.57561
[103]	train-mae:8.56978
[104]	train-mae:8.56448
[105]	train-mae:8.55801
[106]	train-mae:8.55198
[107]	train-mae:8.54672
[108]	train-mae:8.54067
[109]	train-mae:8.5349
[110]	train-mae:8.52987
[111]	train-mae:8.52443
[112]	train-mae:8.51911
[113]	train-mae:8.51426
[114]	train-mae:8.50866
[115]	train-mae:8.50319
[116]	train-mae:8.49792
[117]	train-mae:8.49331
[118]	train-mae:8.48819
[119]	train-mae:8.48311
[120]	train-mae:8.47773
[121]	train-mae:8.47316
[122]	train-mae:8.4691
[123]	train-mae:8.46472
[124]	train-mae:8.46034
[125]	train-mae:8.45579
[126]	train-mae:8.45142
[127]	train-mae:8.44698
[128]	train-mae:8.44249
[129]	train-mae:8.43836
[130]	train-mae:8.43451
[131]	train-mae:8.42993
[132]	train-mae:8.42553
[133]	train-mae:8.42093
[134]	train-mae:8.41683
[135]	train-mae:8.4126
[136]	train-mae:8.40866
[137]	train-mae:8.40427
[138]	train-mae:8.40033
[139]	train-mae:8.3958
[140]	train-mae:8.39157
[141]	train-mae:8.38752
[142]	train-mae:8.38382
[143]	train-mae:8.37937
[144]	train-mae:8.37517
[145]	train-mae:8.3704
[146]	train-mae:8.36697
[147]	train-mae:8.36354
[148]	train-mae:8.35951
[149]	train-mae:8.35523
[150]	train-mae:8.35093
[151]	train-mae:8.34712
[152]	train-mae:8.34339
[153]	train-mae:8.33984
[154]	train-mae:8.33687
[155]	train-mae:8.33363
[156]	train-mae:8.32978
[157]	train-mae:8.32642
[158]	train-mae:8.32236
[159]	train-mae:8.31865
[160]	train-mae:8.3154
[161]	train-mae:8.31186
[162]	train-mae:8.30848
[163]	train-mae:8.30551
[164]	train-mae:8.30312
[165]	train-mae:8.29954
[166]	train-mae:8.29627
[167]	train-mae:8.29308
[168]	train-mae:8.28971
[169]	train-mae:8.28656
[170]	train-mae:8.2836
[171]	train-mae:8.28048
[172]	train-mae:8.277
[173]	train-mae:8.27373
[174]	train-mae:8.27098
[175]	train-mae:8.26747
[176]	train-mae:8.26389
[177]	train-mae:8.26104
[178]	train-mae:8.25786
[179]	train-mae:8.25427
[180]	train-mae:8.251
[181]	train-mae:8.24756
[182]	train-mae:8.2444
[183]	train-mae:8.24067
[184]	train-mae:8.23762
[185]	train-mae:8.23388
[186]	train-mae:8.2301
[187]	train-mae:8.22669
[188]	train-mae:8.2241
[189]	train-mae:8.22064
[190]	train-mae:8.2172
[191]	train-mae:8.2144
[192]	train-mae:8.21132
[193]	train-mae:8.20785
[194]	train-mae:8.20501
[195]	train-mae:8.20233
[196]	train-mae:8.1999
[197]	train-mae:8.19608
[198]	train-mae:8.19265
[199]	train-mae:8.18949
[200]	train-mae:8.18649
[201]	train-mae:8.1834
[202]	train-mae:8.18069
[203]	train-mae:8.17708
[204]	train-mae:8.17415
[205]	train-mae:8.17038
[206]	train-mae:8.16684
[207]	train-mae:8.16365
[208]	train-mae:8.16065
[209]	train-mae:8.1578
[210]	train-mae:8.15464
[211]	train-mae:8.15146
[212]	train-mae:8.14822
[213]	train-mae:8.14525
[214]	train-mae:8.14154
[215]	train-mae:8.13837
[216]	train-mae:8.13534
[217]	train-mae:8.13227
[218]	train-mae:8.12937
[219]	train-mae:8.12616
[220]	train-mae:8.12356
[221]	train-mae:8.12036
[222]	train-mae:8.11793
[223]	train-mae:8.11524
[224]	train-mae:8.11275
[225]	train-mae:8.11048
[226]	train-mae:8.1074
[227]	train-mae:8.10487
[228]	train-mae:8.10216
[229]	train-mae:8.0993
[230]	train-mae:8.09686
[231]	train-mae:8.09365
[232]	train-mae:8.09033
[233]	train-mae:8.088
[234]	train-mae:8.08496
[235]	train-mae:8.0824
[236]	train-mae:8.07958
[237]	train-mae:8.07661
[238]	train-mae:8.07369
[239]	train-mae:8.07109
[240]	train-mae:8.06804
[241]	train-mae:8.06575
[242]	train-mae:8.06241
[243]	train-mae:8.05966
[244]	train-mae:8.05767
[245]	train-mae:8.05441
[246]	train-mae:8.05196
[247]	train-mae:8.04939
[248]	train-mae:8.0462
[249]	train-mae:8.04376
[250]	train-mae:8.04122
[251]	train-mae:8.03881
[252]	train-mae:8.03637
[253]	train-mae:8.03305
[254]	train-mae:8.03055
[255]	train-mae:8.0275
[256]	train-mae:8.02512
[257]	train-mae:8.02285
[258]	train-mae:8.02017
[259]	train-mae:8.01764
[260]	train-mae:8.0155
[261]	train-mae:8.01275
[262]	train-mae:8.01039
[263]	train-mae:8.00783
[264]	train-mae:8.00515
[265]	train-mae:8.00357
[266]	train-mae:8.001
[267]	train-mae:7.99841
[268]	train-mae:7.99558
[269]	train-mae:7.99351
[270]	train-mae:7.99163
[271]	train-mae:7.9897
[272]	train-mae:7.98746
[273]	train-mae:7.98515
[274]	train-mae:7.98252
[275]	train-mae:7.97987
[276]	train-mae:7.97764
[277]	train-mae:7.97436
[278]	train-mae:7.97155
[279]	train-mae:7.96902
[280]	train-mae:7.96678
[281]	train-mae:7.96414
[282]	train-mae:7.96167
[283]	train-mae:7.95997
[284]	train-mae:7.95792
[285]	train-mae:7.95598
[286]	train-mae:7.95334
[287]	train-mae:7.9518
[288]	train-mae:7.94942
[289]	train-mae:7.94699
[290]	train-mae:7.94454
[291]	train-mae:7.94218
[292]	train-mae:7.93981
[293]	train-mae:7.93733
[294]	train-mae:7.93442
[295]	train-mae:7.93196
[296]	train-mae:7.9293
[297]	train-mae:7.92657
[298]	train-mae:7.92454
[299]	train-mae:7.9222

In [52]:
ypred=bst.predict(dtest)

In [55]:
yy = ypred

In [57]:
yy[yy > 0] = 1
yy[yy < 0] = 0

In [64]:
yy

array([1., 1., 1., 0., 0., 0., 1., 1., 1., 1., 1., 1., 0., 1., 1., 1., 1.,
       1., 1., 1., 1., 0., 1., 1., 0., 0., 0., 1., 1., 1., 1., 0., 1., 0.,
       1., 1., 1., 1., 1., 1., 0., 1., 1., 1., 0., 0., 1., 0., 1., 0., 0.,
       1., 0., 0., 0., 1., 1., 1., 0., 1., 1., 1., 0., 1., 1., 1., 1., 0.,
       0., 0., 1., 1., 1., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0.,
       0., 0., 0., 1., 0., 0., 1., 1., 1., 0., 0., 0., 0., 1., 0., 1., 0.,
       0., 0., 0., 0., 0., 1., 0., 0., 0., 1., 1., 0., 1., 0., 1., 1., 0.,
       1., 1., 1., 0., 0., 0., 1., 0., 0., 0., 1., 0., 0., 0., 0.],
      dtype=float32)

In [59]:
yytest = y_test

In [60]:
yytest[yytest > 0] = 1
yytest[yytest < 0] = 0

In [66]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import (auc, classification_report, roc_auc_score, accuracy_score,
                             f1_score, log_loss, roc_curve, confusion_matrix, precision_score, recall_score)
from sklearn.preprocessing import StandardScaler
from math import sin, cos, sqrt, atan2, radians
import random
import statsmodels.api as sm

In [67]:
accuracy_score(yytest, yy)

0.6865671641791045

In [ ]:
##bi

In [68]:
y_train_b = y_train

In [73]:
y_train_b[y_train_b>0]=1
y_train_b[y_train_b<0]=0

In [82]:
y_train= df_train['T1_Score'] - df_train['T2_Score']

In [84]:
y_train_b = y_train

In [85]:
y_train_b[y_train_b>0]=1
y_train_b[y_train_b<0]=0

In [87]:
import xgboost as xgb
dtrain=xgb.DMatrix(X_train,label=y_train_b)
dtest=xgb.DMatrix(X_test)

C:\Users\lxb\Anaconda3\lib\site-packages\xgboost\core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \

In [94]:
bst_b =xgb.train(params,dtrain,num_boost_round=500,evals=watchlist)

[0]	train-mae:11.413
[1]	train-mae:11.411
[2]	train-mae:11.4092
[3]	train-mae:11.4074
[4]	train-mae:11.4056
[5]	train-mae:11.4039
[6]	train-mae:11.4022
[7]	train-mae:11.4004
[8]	train-mae:11.3987
[9]	train-mae:11.397
[10]	train-mae:11.3954
[11]	train-mae:11.3938
[12]	train-mae:11.3923
[13]	train-mae:11.3909
[14]	train-mae:11.3893
[15]	train-mae:11.388
[16]	train-mae:11.3865
[17]	train-mae:11.3851
[18]	train-mae:11.3838
[19]	train-mae:11.3824
[20]	train-mae:11.3809
[21]	train-mae:11.3796
[22]	train-mae:11.3782
[23]	train-mae:11.3769
[24]	train-mae:11.3757
[25]	train-mae:11.3746
[26]	train-mae:11.3734
[27]	train-mae:11.3724
[28]	train-mae:11.3712
[29]	train-mae:11.3701
[30]	train-mae:11.3689
[31]	train-mae:11.3679
[32]	train-mae:11.3669
[33]	train-mae:11.3658
[34]	train-mae:11.3647
[35]	train-mae:11.3637
[36]	train-mae:11.3627
[37]	train-mae:11.3617
[38]	train-mae:11.3609
[39]	train-mae:11.3599
[40]	train-mae:11.359
[41]	train-mae:11.3581
[42]	train-mae:11.3572
[43]	train-mae:11.3563
[44]	train-mae:11.3555
[45]	train-mae:11.3546
[46]	train-mae:11.3538
[47]	train-mae:11.353
[48]	train-mae:11.3523
[49]	train-mae:11.3515
[50]	train-mae:11.3508
[51]	train-mae:11.35
[52]	train-mae:11.3493
[53]	train-mae:11.3487
[54]	train-mae:11.3479
[55]	train-mae:11.3473
[56]	train-mae:11.3466
[57]	train-mae:11.3459
[58]	train-mae:11.3453
[59]	train-mae:11.3446
[60]	train-mae:11.3441
[61]	train-mae:11.3434
[62]	train-mae:11.3428
[63]	train-mae:11.3422
[64]	train-mae:11.3415
[65]	train-mae:11.3409
[66]	train-mae:11.3404
[67]	train-mae:11.3399
[68]	train-mae:11.3394
[69]	train-mae:11.3388
[70]	train-mae:11.3383
[71]	train-mae:11.3378
[72]	train-mae:11.3373
[73]	train-mae:11.3368
[74]	train-mae:11.3363
[75]	train-mae:11.3358
[76]	train-mae:11.3353
[77]	train-mae:11.3349
[78]	train-mae:11.3344
[79]	train-mae:11.3339
[80]	train-mae:11.3334
[81]	train-mae:11.333
[82]	train-mae:11.3326
[83]	train-mae:11.3321
[84]	train-mae:11.3317
[85]	train-mae:11.3313
[86]	train-mae:11.3309
[87]	train-mae:11.3304
[88]	train-mae:11.33
[89]	train-mae:11.3296
[90]	train-mae:11.3291
[91]	train-mae:11.3288
[92]	train-mae:11.3285
[93]	train-mae:11.328
[94]	train-mae:11.3277
[95]	train-mae:11.3274
[96]	train-mae:11.327
[97]	train-mae:11.3266
[98]	train-mae:11.3263
[99]	train-mae:11.326
[100]	train-mae:11.3257
[101]	train-mae:11.3254
[102]	train-mae:11.325
[103]	train-mae:11.3247
[104]	train-mae:11.3244
[105]	train-mae:11.324
[106]	train-mae:11.3238
[107]	train-mae:11.3235
[108]	train-mae:11.3232
[109]	train-mae:11.3229
[110]	train-mae:11.3226
[111]	train-mae:11.3224
[112]	train-mae:11.3221
[113]	train-mae:11.3218
[114]	train-mae:11.3215
[115]	train-mae:11.3213
[116]	train-mae:11.3209
[117]	train-mae:11.3207
[118]	train-mae:11.3204
[119]	train-mae:11.3201
[120]	train-mae:11.3199
[121]	train-mae:11.3198
[122]	train-mae:11.3196
[123]	train-mae:11.3194
[124]	train-mae:11.3192
[125]	train-mae:11.319
[126]	train-mae:11.3188
[127]	train-mae:11.3186
[128]	train-mae:11.3184
[129]	train-mae:11.3182
[130]	train-mae:11.318
[131]	train-mae:11.3178
[132]	train-mae:11.3176
[133]	train-mae:11.3173
[134]	train-mae:11.3172
[135]	train-mae:11.317
[136]	train-mae:11.3168
[137]	train-mae:11.3167
[138]	train-mae:11.3165
[139]	train-mae:11.3163
[140]	train-mae:11.3162
[141]	train-mae:11.3161
[142]	train-mae:11.3159
[143]	train-mae:11.3157
[144]	train-mae:11.3156
[145]	train-mae:11.3154
[146]	train-mae:11.3152
[147]	train-mae:11.315
[148]	train-mae:11.3148
[149]	train-mae:11.3146
[150]	train-mae:11.3144
[151]	train-mae:11.3142
[152]	train-mae:11.3141
[153]	train-mae:11.3139
[154]	train-mae:11.3137
[155]	train-mae:11.3134
[156]	train-mae:11.3134
[157]	train-mae:11.3132
[158]	train-mae:11.313
[159]	train-mae:11.3128
[160]	train-mae:11.3127
[161]	train-mae:11.3126
[162]	train-mae:11.3125
[163]	train-mae:11.3124
[164]	train-mae:11.3123
[165]	train-mae:11.3122
[166]	train-mae:11.3121
[167]	train-mae:11.312
[168]	train-mae:11.3119
[169]	train-mae:11.3117
[170]	train-mae:11.3116
[171]	train-mae:11.3116
[172]	train-mae:11.3114
[173]	train-mae:11.3113
[174]	train-mae:11.3113
[175]	train-mae:11.3112
[176]	train-mae:11.3111
[177]	train-mae:11.311
[178]	train-mae:11.3108
[179]	train-mae:11.3107
[180]	train-mae:11.3107
[181]	train-mae:11.3107
[182]	train-mae:11.3106
[183]	train-mae:11.3104
[184]	train-mae:11.3104
[185]	train-mae:11.3103
[186]	train-mae:11.3103
[187]	train-mae:11.3102
[188]	train-mae:11.3101
[189]	train-mae:11.31
[190]	train-mae:11.3099
[191]	train-mae:11.3098
[192]	train-mae:11.3097
[193]	train-mae:11.3097
[194]	train-mae:11.3095
[195]	train-mae:11.3095
[196]	train-mae:11.3093
[197]	train-mae:11.3093
[198]	train-mae:11.3092
[199]	train-mae:11.3091
[200]	train-mae:11.3091
[201]	train-mae:11.309
[202]	train-mae:11.3089
[203]	train-mae:11.3089
[204]	train-mae:11.3088
[205]	train-mae:11.3087
[206]	train-mae:11.3087
[207]	train-mae:11.3085
[208]	train-mae:11.3084
[209]	train-mae:11.3083
[210]	train-mae:11.3082
[211]	train-mae:11.3081
[212]	train-mae:11.3081
[213]	train-mae:11.308
[214]	train-mae:11.3079
[215]	train-mae:11.3078
[216]	train-mae:11.3078
[217]	train-mae:11.3077
[218]	train-mae:11.3077
[219]	train-mae:11.3076
[220]	train-mae:11.3075
[221]	train-mae:11.3075
[222]	train-mae:11.3073
[223]	train-mae:11.3073
[224]	train-mae:11.3072
[225]	train-mae:11.3072
[226]	train-mae:11.3071
[227]	train-mae:11.307
[228]	train-mae:11.3069
[229]	train-mae:11.3069
[230]	train-mae:11.3069
[231]	train-mae:11.3068
[232]	train-mae:11.3067
[233]	train-mae:11.3066
[234]	train-mae:11.3065
[235]	train-mae:11.3065
[236]	train-mae:11.3065
[237]	train-mae:11.3065
[238]	train-mae:11.3064
[239]	train-mae:11.3063
[240]	train-mae:11.3062
[241]	train-mae:11.3061
[242]	train-mae:11.306
[243]	train-mae:11.3059
[244]	train-mae:11.3059
[245]	train-mae:11.3058
[246]	train-mae:11.3057
[247]	train-mae:11.3057
[248]	train-mae:11.3056
[249]	train-mae:11.3056
[250]	train-mae:11.3055
[251]	train-mae:11.3055
[252]	train-mae:11.3054
[253]	train-mae:11.3053
[254]	train-mae:11.3053
[255]	train-mae:11.3053
[256]	train-mae:11.3052
[257]	train-mae:11.3052
[258]	train-mae:11.3051
[259]	train-mae:11.305
[260]	train-mae:11.305
[261]	train-mae:11.305
[262]	train-mae:11.3049
[263]	train-mae:11.3049
[264]	train-mae:11.3048
[265]	train-mae:11.3048
[266]	train-mae:11.3047
[267]	train-mae:11.3047
[268]	train-mae:11.3047
[269]	train-mae:11.3047
[270]	train-mae:11.3047
[271]	train-mae:11.3046
[272]	train-mae:11.3046
[273]	train-mae:11.3046
[274]	train-mae:11.3045
[275]	train-mae:11.3045
[276]	train-mae:11.3044
[277]	train-mae:11.3043
[278]	train-mae:11.3043
[279]	train-mae:11.3043
[280]	train-mae:11.3043
[281]	train-mae:11.3042
[282]	train-mae:11.3042
[283]	train-mae:11.3042
[284]	train-mae:11.3042
[285]	train-mae:11.3041
[286]	train-mae:11.3041
[287]	train-mae:11.304
[288]	train-mae:11.304
[289]	train-mae:11.304
[290]	train-mae:11.3039
[291]	train-mae:11.3039
[292]	train-mae:11.3039
[293]	train-mae:11.3038
[294]	train-mae:11.3038
[295]	train-mae:11.3037
[296]	train-mae:11.3037
[297]	train-mae:11.3037
[298]	train-mae:11.3036
[299]	train-mae:11.3036
[300]	train-mae:11.3035
[301]	train-mae:11.3035
[302]	train-mae:11.3035
[303]	train-mae:11.3035
[304]	train-mae:11.3035
[305]	train-mae:11.3034
[306]	train-mae:11.3034
[307]	train-mae:11.3033
[308]	train-mae:11.3032
[309]	train-mae:11.3032
[310]	train-mae:11.3031
[311]	train-mae:11.3031
[312]	train-mae:11.303
[313]	train-mae:11.303
[314]	train-mae:11.3029
[315]	train-mae:11.3029
[316]	train-mae:11.3029
[317]	train-mae:11.3028
[318]	train-mae:11.3027
[319]	train-mae:11.3027
[320]	train-mae:11.3027
[321]	train-mae:11.3026
[322]	train-mae:11.3026
[323]	train-mae:11.3025
[324]	train-mae:11.3025
[325]	train-mae:11.3025
[326]	train-mae:11.3024
[327]	train-mae:11.3024
[328]	train-mae:11.3024
[329]	train-mae:11.3023
[330]	train-mae:11.3023
[331]	train-mae:11.3023
[332]	train-mae:11.3022
[333]	train-mae:11.3022
[334]	train-mae:11.3021
[335]	train-mae:11.3021
[336]	train-mae:11.3021
[337]	train-mae:11.302
[338]	train-mae:11.302
[339]	train-mae:11.302
[340]	train-mae:11.3019
[341]	train-mae:11.3019
[342]	train-mae:11.3019
[343]	train-mae:11.3018
[344]	train-mae:11.3018
[345]	train-mae:11.3018
[346]	train-mae:11.3017
[347]	train-mae:11.3017

[348]	train-mae:11.3017
[349]	train-mae:11.3016
[350]	train-mae:11.3016
[351]	train-mae:11.3015
[352]	train-mae:11.3015
[353]	train-mae:11.3015
[354]	train-mae:11.3015
[355]	train-mae:11.3015
[356]	train-mae:11.3015
[357]	train-mae:11.3015
[358]	train-mae:11.3014
[359]	train-mae:11.3014
[360]	train-mae:11.3014
[361]	train-mae:11.3013
[362]	train-mae:11.3013
[363]	train-mae:11.3013
[364]	train-mae:11.3012
[365]	train-mae:11.3012
[366]	train-mae:11.3012
[367]	train-mae:11.3012
[368]	train-mae:11.3012
[369]	train-mae:11.3011
[370]	train-mae:11.3011
[371]	train-mae:11.3011
[372]	train-mae:11.301
[373]	train-mae:11.301
[374]	train-mae:11.3009
[375]	train-mae:11.3008
[376]	train-mae:11.3008
[377]	train-mae:11.3008
[378]	train-mae:11.3008
[379]	train-mae:11.3007
[380]	train-mae:11.3007
[381]	train-mae:11.3007
[382]	train-mae:11.3007
[383]	train-mae:11.3007
[384]	train-mae:11.3007
[385]	train-mae:11.3006
[386]	train-mae:11.3006
[387]	train-mae:11.3006
[388]	train-mae:11.3005
[389]	train-mae:11.3004
[390]	train-mae:11.3004
[391]	train-mae:11.3003
[392]	train-mae:11.3003
[393]	train-mae:11.3003
[394]	train-mae:11.3003
[395]	train-mae:11.3003
[396]	train-mae:11.3003
[397]	train-mae:11.3003
[398]	train-mae:11.3002
[399]	train-mae:11.3002
[400]	train-mae:11.3002
[401]	train-mae:11.3001
[402]	train-mae:11.3001
[403]	train-mae:11.3001
[404]	train-mae:11.3001
[405]	train-mae:11.3001
[406]	train-mae:11.3001
[407]	train-mae:11.3
[408]	train-mae:11.3
[409]	train-mae:11.3
[410]	train-mae:11.3
[411]	train-mae:11.3
[412]	train-mae:11.3
[413]	train-mae:11.2999
[414]	train-mae:11.2999
[415]	train-mae:11.2999
[416]	train-mae:11.2999
[417]	train-mae:11.2998
[418]	train-mae:11.2998
[419]	train-mae:11.2998
[420]	train-mae:11.2998
[421]	train-mae:11.2998
[422]	train-mae:11.2998
[423]	train-mae:11.2997
[424]	train-mae:11.2997
[425]	train-mae:11.2997
[426]	train-mae:11.2996
[427]	train-mae:11.2996
[428]	train-mae:11.2996
[429]	train-mae:11.2995
[430]	train-mae:11.2995
[431]	train-mae:11.2995
[432]	train-mae:11.2995
[433]	train-mae:11.2994
[434]	train-mae:11.2994
[435]	train-mae:11.2993
[436]	train-mae:11.2992
[437]	train-mae:11.2992
[438]	train-mae:11.2992
[439]	train-mae:11.2992
[440]	train-mae:11.2991
[441]	train-mae:11.2991
[442]	train-mae:11.2991
[443]	train-mae:11.2991
[444]	train-mae:11.299
[445]	train-mae:11.299
[446]	train-mae:11.299
[447]	train-mae:11.299
[448]	train-mae:11.2989
[449]	train-mae:11.2989
[450]	train-mae:11.2989
[451]	train-mae:11.2988
[452]	train-mae:11.2988
[453]	train-mae:11.2988
[454]	train-mae:11.2988
[455]	train-mae:11.2988
[456]	train-mae:11.2988
[457]	train-mae:11.2987
[458]	train-mae:11.2987
[459]	train-mae:11.2987
[460]	train-mae:11.2987
[461]	train-mae:11.2986
[462]	train-mae:11.2986
[463]	train-mae:11.2986
[464]	train-mae:11.2986
[465]	train-mae:11.2986
[466]	train-mae:11.2986
[467]	train-mae:11.2986
[468]	train-mae:11.2985
[469]	train-mae:11.2985
[470]	train-mae:11.2985
[471]	train-mae:11.2985
[472]	train-mae:11.2985
[473]	train-mae:11.2985
[474]	train-mae:11.2985
[475]	train-mae:11.2985
[476]	train-mae:11.2984
[477]	train-mae:11.2984
[478]	train-mae:11.2984
[479]	train-mae:11.2983
[480]	train-mae:11.2983
[481]	train-mae:11.2983
[482]	train-mae:11.2983
[483]	train-mae:11.2983
[484]	train-mae:11.2982
[485]	train-mae:11.2982
[486]	train-mae:11.2982
[487]	train-mae:11.2982
[488]	train-mae:11.2981
[489]	train-mae:11.2981
[490]	train-mae:11.2981
[491]	train-mae:11.2981
[492]	train-mae:11.2981
[493]	train-mae:11.2981
[494]	train-mae:11.2981
[495]	train-mae:11.298
[496]	train-mae:11.298
[497]	train-mae:11.298
[498]	train-mae:11.298
[499]	train-mae:11.298

In [95]:
ypred2=bst_b.predict(dtest)

In [96]:
ypred2

array([0.5210945 , 0.541719  , 0.43084982, 0.5125707 , 0.376961  ,
       0.25899237, 0.83568925, 0.6437013 , 0.75873977, 0.74846816,
       0.8185584 , 0.59772426, 0.42452264, 0.7733173 , 0.7292883 ,
       0.7170608 , 0.5414491 , 0.7728888 , 0.7674894 , 0.83166325,
       0.77565384, 0.38319972, 0.8315221 , 0.6053841 , 0.5188347 ,
       0.38364926, 0.16742955, 0.81392604, 0.7271405 , 0.81414944,
       0.8546394 , 0.3104234 , 0.6471178 , 0.17190696, 0.6961669 ,
       0.8163629 , 0.741322  , 0.6174454 , 0.8173826 , 0.64963096,
       0.2873306 , 0.66567534, 0.76627856, 0.8446838 , 0.40225244,
       0.21564496, 0.6580369 , 0.2432388 , 0.81542903, 0.16862576,
       0.2426734 , 0.8151444 , 0.20814016, 0.35571864, 0.32798728,
       0.80952024, 0.83294487, 0.7495166 , 0.47377715, 0.6810198 ,
       0.5115403 , 0.8098089 , 0.5214017 , 0.5735391 , 0.7780406 ,
       0.50684685, 0.56783104, 0.47897974, 0.4467671 , 0.5588544 ,
       0.48619455, 0.632006  , 0.7398139 , 0.1674447 , 0.3601998 ,
       0.23045944, 0.2524083 , 0.1844892 , 0.41176304, 0.57724446,
       0.22201192, 0.27311835, 0.28273523, 0.4620278 , 0.22733828,
       0.2260376 , 0.17093903, 0.22647697, 0.62239873, 0.16653708,
       0.3991101 , 0.49040088, 0.62364167, 0.8327565 , 0.18356791,
       0.27998167, 0.18623474, 0.14851692, 0.69068253, 0.36247796,
       0.82984644, 0.30209997, 0.1851923 , 0.25781193, 0.3754788 ,
       0.18409027, 0.35653356, 0.70550793, 0.33172247, 0.23923482,
       0.15919589, 0.59987384, 0.78355837, 0.3480023 , 0.7563118 ,
       0.18801345, 0.8291084 , 0.7630032 , 0.1883132 , 0.78882265,
       0.6562623 , 0.6721773 , 0.19821766, 0.16635056, 0.2590937 ,
       0.5323303 , 0.3235026 , 0.4932434 , 0.19219543, 0.48569977,
       0.42734978, 0.21635112, 0.49187493, 0.43891627], dtype=float32)

In [97]:
y_pred_value = [round(value) for value in ypred2]

In [98]:
accuracy_score(yytest, y_pred_value)

0.7164179104477612

In [99]:
log_loss(yytest, ypred2)

0.6089694502193537